{{extend 'layout.html'}}

<h1>Welcome to Bionimbus</h1>

<P>Bionimbus is an open source cloud-based system for managing, analyzing and sharing genomic data that has been developed by the Institute for Genomics and Systems Biology (IGSB) at the University of Chicago.
<P>Bionimbus is designed to support next-generation sequencing instruments and integrates technology for the analyzing and transporting large datasets.
<P>Bionimbus is supported through grants from the National Institute of Health award P50 081892, Chicago Biomedical Consortium Lever award, and the National Science Foundation awards 1129076 and 1127316.

